DISCORD_TOKEN=your_discord_bot_token
CLIENT_ID=your_discord_application_id
CLIENT_SECRET=your_discord_application_secret
GUILD_ID=your_discord_server_id
MONGODB_URI=mongodb://127.0.0.1:27017/ombracore
WEB_BASE_URL=https://societa.univers-bot.fr
WEB_PORT=3000
SESSION_SECRET=change_me_with_a_long_random_secret
